body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh; 
}
header {
    background-color: #5d04d9;
    color: white;
    text-align: center;
    padding: 1em 0;
    font-size: 1.5em;
}
footer {
    background-color: #5d04d9;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
.container {
    display: flex;
    justify-content: space-between;
    margin: 60px;
    height: calc(100vh - 160px);
    flex-grow: 1;
}

.cards-container-wrapper {
    flex: 1;
    overflow-y: auto;
    margin-right: 20px;
    margin-top: 20px; /* Alinea verticalmente con el título del form */
    position: relative; 
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    position: relative;
    width: 80%; 
    height: 200px; 
}
.card img {
    max-width: 100%;
    border-radius: 8px;
    height: 80px;
}
.card .delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
.card p {
    margin: 5px 0;
    font-size: 0.9em;
}

#misProductosTitulo, #agregarProductoTitulo {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 24px;
    padding: 0 20px;
    margin-top: 20px; 
}

#misProductosTitulo {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 24px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.form-container {
    width: 20%; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0; 
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 15px;
    border-radius: 8px;
    gap: 15px;
    background-color: none;
}
input {
    margin-bottom: 10px;
    padding: 8px;
    border: 2px solid #03318c;
    border-radius: 20px;
}

input::placeholder {
    color: #03318c;
}

button {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #03318c;
    color: white;
    border: 2px ;
}
button[type="reset"] {
    background-color: whitesmoke;
    color: #03318c;
    border: 2px solid #03318c;
}

.botones-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
}

.buttons {
    flex: 1;
    padding: 10px;
    margin: 0;
    box-sizing: border-box; 
}
